.blog-heading{
    padding-bottom: 50px !important;
}
.blog-title{
        text-align: center;
    padding-top: 15px;
    color: black;
    font-size: 25px;
}
.blog-content p {
    text-align: center;
}
