/* Reset */
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
} */

/* Body background and layout */
/* body {
    height: 100vh;
    background: linear-gradient(135deg, #989099); 
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    padding: 50px 20px;
} */

.LoginPageSection{
    background: beige;
}
.LoginImage{
    height: 180px;
    text-align: center;
    align-items: center;
}

 .loginUniversal {
    text-align: center;
    font-family: Lato, sans-serif;
    color: #845848;
    /* height: 100%; */
    /* padding-top: 65px; */
    padding-bottom: 300px;
}
.signup-container {
    background-color: #ffffff;
    padding: 2px 40px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100%;
}
/* Tabs */
.tab-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.tab-buttons button {
   flex: 1;
    padding: 20px;
    background-color: #f5f6f2;
    border: none;
    border-bottom: 10px solid transparent;
    font-size: 21px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 10px;
    color: #845848;
    margin: 0px 10px;
    box-shadow: 0px 10px 10px rgba(3, 4, 28, 0.06);
}

.tab-buttons button.active {
    background-color: #f5f6f2;
    color: #845848;
    border-bottom: 10px solid #c3aaa1;
    font-weight: bold;
}

/* Forms */
.signup-form {
    display: none;
    animation: fadeIn 0.3s ease-in-out;
}

.signup-form.active {
    display: block;
    height: 68%;
}

.form-group {
    margin-bottom: 18px;
    text-align: left;
    padding: 0px;
}

label {
    display: block;
    margin-bottom: 5px !important;
    font-weight: 350 !important;
    color: #333 !important;
    font-size: 20px;
    padding-bottom: 3px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 15px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #007BFF;
    outline: none;
}

/* Submit Button */
input[type="submit"] {
   background-color: #845848;
    color: #fff;
    padding: 25px;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 24px;
}

input[type="submit"]:hover {
    background-color: #c3aaa1;

}
.signup-form .LoginAccount p{
    text-align: center ;
    padding-top: 20px;
    font-size: 18px;
}
.LoginImg {
    margin-top: 95px !important;
    border-radius: 50px !important;
}
/* Fade in effect */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* RESPONSIVE-----BLOG-DETAILS------PAGE */
  @media (min-width: 1921px) and (max-width: 2561px) {
}

@media (min-width: 1536px) and (max-width: 1920px) {
}
    
@media (max-width: 1280.98px) {
    

 }
@media (max-width: 1318.98px) {
    .tab-buttons button {
    font-size: 18px;
    padding: 12px;
    }
  }

  @media (max-width: 1169.98px) {
     .tab-buttons button {
    font-size: 15px;
     }
     .signup-container {
    background-color: #ffffff;
    padding: 4px 35px;
     }
     .label{
        margin-bottom: 0px !important;
        font-size: 19px !important;
     }
     .container{
        width: 100% !important;
     }
  }
  @media (max-width: 1055.98px) {
  }
 
 @media (max-width: 991.98px) {
 
}
  @media (max-width: 890.98px) {
  input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 5px 0px;
}
.signup-container {
    background-color: #ffffff;
    padding: 4px 20px;
     }
     .tab-buttons button {
   margin: 0px 5px;
   padding: 10px;
     }

}
@media(max-width: 853.98px){

}
@media(max-width: 799.98px){
  
}
@media(max-width: 767.98px){
    .image-column{
        display: none !important;
    }
    .container{
        width: 95% !important;
    }
    
}
@media(max-width: 799.98px){

}
@media(max-width: 575.98px){

}
@media(max-width: 538.98px){
}
@media(max-width: 474.98px){
    .LoginImage {
    height: 130px;
    }
    .signup-container {
    padding: 4px 15px;
     }
}
@media(max-width: 412.98px){

}
@media(max-width: 360.98px){

}